
@{
    ViewBag.Title = "Gestion des voitures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="jumbotron">
    <h2 class="text-center"><i class="fas fa-car"></i> <b>GESTION DES VOITURES</b></h2>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
</div>

